@import "../global/core";

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--page-max-width);
  width: 100%;
}

.error-text,
.success-text {
  font-weight: bold;
  margin-bottom: 10px;
}

.error-text {
  color: red;
}

.success-text {
  color: green;
}
