// organisms/Header/Header.module.scss

@import "../../../styles/core";

.header {
  @include screen-padding;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;
}

.button {
  background-color: var(--color-beta);
  color: var(--color-delta);
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.5em 1.3em;

  &:hover {
    background-color: var(--color-alpha);
    color: var(--color-delta);
  }
}

.links {
  align-items: center;
  display: flex;

  ul {
    display: flex;
    list-style: none;
    margin: 0 1.6rem 0 0;
    padding: 0;
  }

  li {
    margin-left: 0.8rem;
  }

  a {
    background-image: none;
    display: block;
  }
}
