@import "../global/core";

:root {
  --color-alpha: #232323;
  --color-beta: #0540f2;
  --color-gamma: rgba(5, 64, 242, 0.15);
  --color-delta: #efefef;
  --color-epsilon: #010326;
  --color-zeta: rgba(5, 64, 242, 0.3);

  --font-serif: serif;
  --font-sans-serif: "Roboto", sans-serif;
  --font-mono: "PT Mono", monospace;

  --body-color: var(--color-alpha);
  --body-font-family: var(--font-sans-serif);
  --body-font-size: 1.8rem;
  --body-line-height: 1.7;

  --paragraph-margin: 0 0 1.5em;

  --anchor-color: var(--color-epsilon);
  --anchor-text-decoration: none;
  --anchor-color-hover: inherit;
  --anchor-text-decoration-hover: none;

  --grid-gutter: 10px;
  --page-max-width: 820px;
  --screen-padding: 3rem;

  @include breakpoint(medium) {
    --grid-gutter: 25px;
  }

  --header-height: 69px;
  --sidebar-width: 350px;
}
